<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel: Transactions List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div th:replace="fragments/layout :: css-sheets"></div>
</head>
<body>
<div th:replace="fragments/layout :: header"></div>
<section class="bg-half bg-light">
    <div class="home-center">
        <div class="home-desc-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-12 text-center">
                        <div class="page-next-level">
                            <h4 class="title" th:text="#{admin.transactions.history.title}"></h4>
                        </div>
                    </div>  <!--end col-->
                </div><!--end row-->
            </div> <!--end container-->
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="p-4">
            <form id="query-form" th:action="@{/admin/transactions}" method="get">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group position-relative">
                            <label for="start-date" th:text="#{transaction.history.startDate}">Start date<span
                                    class="text-danger">*</span></label>
                            <i class="mdi mdi-calendar ml-3 icons"></i>
                            <input name="startDate" id="start-date" type="date" th:value="${startDate}"
                                   class="form-control pl-5">
                        </div>
                    </div><!--end col-->
                    <div class="col-md-6">
                        <div class="form-group position-relative">
                            <label for="end-date" th:text="#{transaction.history.endDate}">End date<span
                                    class="text-danger">*</span></label>
                            <i class="mdi mdi-calendar ml-3 icons"></i>
                            <input name="endDate" id="end-date" type="date" th:value="${endDate}"
                                   class="form-control pl-5">
                        </div>
                    </div><!--end col-->

                    <div class="col-md-6">
                        <div class="form-group position-relative">
                            <label for="sender-username" th:text="#{admin.transactions.sender}">Sender
                                username</label>
                            <i class="mdi mdi-account ml-3 icons"></i>
                            <input id="sender-username" type="text" name="sender" th:value="${sender}"
                                   class="form-control pl-5" th:placeholder="#{admin.transactions.sender}">
                        </div>
                    </div><!--end col-->

                    <div class="col-md-6">
                        <div class="form-group position-relative">
                            <label for="recipient-username" th:text="#{admin.transactions.recipient}">Sender
                                username</label>
                            <i class="mdi mdi-account ml-3 icons"></i>
                            <input name="recipient" id="recipient-username" type="text" th:value="${recipient}"
                                   class="form-control pl-5" th:placeholder="#{admin.transactions.recipient}">
                        </div>
                    </div>

                    <span id="amount-asc-or-desc" th:text="${amount}" hidden="hidden"></span>
                    <div class="col-md-6 pt-1 pb-3 sort-criterion">
                        <div class="custom-control custom-switch">
                            <div class="form-group">
                                <input type="checkbox" id="sort-by-amount" class="custom-control-input" value="amount">
                                <label class="custom-control-label" for="sort-by-amount"
                                       th:text="#{transaction.history.sortByAmount}">Sort by amount</label>
                            </div>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <div class="form-group">
                                <input type="radio" id="sort-by-amount-ascending" name="amount" value="asc"
                                       class="custom-control-input" checked="checked" disabled="disabled">
                                <label class="custom-control-label" for="sort-by-amount-ascending"
                                       th:text="#{transaction.history.ascending}">Ascending</label>
                            </div>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <div class="form-group">
                                <input type="radio" id="sort-by-amount-descending" name="amount" value="desc"
                                       class="custom-control-input" disabled="disabled">
                                <label class="custom-control-label" for="sort-by-amount-descending"
                                       th:text="#{transaction.history.descending}">Descending</label>
                            </div>
                        </div>
                    </div>

                    <span id="date-asc-or-desc" th:text="${date}" hidden="hidden"></span>
                    <div class="col-md-6 pt-1 pb-3 sort-criterion">
                        <div class="custom-control custom-switch">
                            <div class="form-group">
                                <input type="checkbox" id="sort-by-date" class="custom-control-input" value="date">
                                <label class="custom-control-label" for="sort-by-date"
                                       th:text="#{transaction.history.sortByDate}">Sort by date</label>
                            </div>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <div class="form-group">
                                <input type="radio" id="sort-by-date-ascending" name="date" value="asc"
                                       class="custom-control-input" checked="checked" disabled="disabled">
                                <label class="custom-control-label" for="sort-by-date-ascending"
                                       th:text="#{transaction.history.ascending}">Ascending</label>
                            </div>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <div class="form-group">
                                <input type="radio" id="sort-by-date-descending" name="date" value="desc"
                                       class="custom-control-input" disabled="disabled">
                                <label class="custom-control-label" for="sort-by-date-descending"
                                       th:text="#{transaction.history.descending}">Descending</label>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end row-->
                <div class="row">
                    <div class="col-sm-12 text-center" th:if="${error != null}">
                        <div class="alert alert-danger alert-pills">
                                            <span class="badge badge-danger rounded"
                                                  th:text="#{error.transactionHistoryError}"> </span>
                            <span class="alert-content" th:text="${error}"></span>
                        </div>
                    </div>
                    <div class="col-sm-12 text-center">
                        <input type="submit" id="submit" class="btn btn-primary"
                               th:value="#{transaction.history.submitQuery}">
                    </div><!--end col-->
                </div><!--end row-->
            </form><!--end form-->
        </div>
        <div class="p-4" th:if="!${transactions.isEmpty()}">
            <div class="table-responsive bg-white shadow rounded">
                <table class="table mb-0 table-center">
                    <thead>
                    <tr>
                        <th th:text="#{transaction.history.date}">Date</th>
                        <th th:text="#{transaction.history.amount}">Amount</th>
                        <th th:text="#{transaction.history.source}">Source</th>
                        <th th:text="#{transaction.history.destination}">Destination</th>
                        <th th:text="#{transaction.history.description}">Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="transaction: ${transactions}">
                        <td th:text="${transaction.dateTime} ? ${#dates.format(transaction.dateTime, 'MM/dd/yyyy HH:mm')} : #{value.NA}">
                            2020-01-28
                        </td>
                        <td class="admin-transactions-amount-format" th:text="${transaction.transferAmount}">
                            500.34
                        </td>
                        <td th:text="${transaction.recipientInstrument} ? ${transaction.senderInstrument.owner.username} + ' / ' + ${transaction.senderInstrument.name} : #{value.NA}">
                            Jane/Jane's wallet
                        </td>
                        <td th:text="${transaction.recipientInstrument} ? ${transaction.recipientInstrument.owner.username} + ' / ' + ${transaction.recipientInstrument.name} : #{value.NA}">
                            John/John's wallet
                        </td>
                        <td th:text="${transaction.description} ? ${transaction.description} : #{value.NA}">Reason for
                            transfer
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="p-4" th:if="${lastPage > 0}">
                    <ul class="pagination mb-0 list-unstyled">
                        <li th:each="i : ${#numbers.sequence(beginIndex, endIndex)}">
                            <a th:href="@{/admin/transactions(startDate=${startDate}, endDate=${endDate}, sender=${sender},
                               recipient=${recipient}, amount=${amount}, date=${date}, pageSize=${pageSize}, page=${i})}"
                               th:text="${i}"
                               th:class="'pr-3 pl-3 pt-2 pb-2' + (${i == pageNumber} ? ' active bg-primary text-light' : '')"></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="container" th:unless="${noTransactions} == null">
                <div class="row justify-content-center">
                    <h3 th:text="${noTransactions}"></h3>
                </div>
            </div>
        </div>
    </div>
</section>

<div th:replace="fragments/layout :: js-scripts"></div>

</body>
</html>

