<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8"/>
    <title>Login to Virtual Wallet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div th:replace="fragments/layout  :: css-sheets"></div>

</head>

<body>
<!-- Loader -->
<div id="preloader">
    <div id="status">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>
</div>
<!-- Loader -->

<div class="back-to-home rounded d-none d-sm-block">
    <a href="/" class="text-white rounded d-inline-block text-center"><i class="mdi mdi-home"></i></a>
</div>

<!-- Hero Start -->
<section class="bg-home">
    <div class="home-center">
        <div class="home-desc-center">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7 col-md-6">
                        <div class="mr-lg-5">
                            <img src="images/user/login.png" class="img-fluid d-block mx-auto" alt="">
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
                        <div class="login-page bg-white shadow rounded p-4">
                            <div class="text-center">
                                <h4 class="mb-4">Login</h4>
                            </div>
                            <form class="login-form" th:action="@{/authenticate}" method="post">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div th:if="${param.error}" class="alert alert-danger alert-pills">
                                            <span class="badge badge-danger rounded"
                                                  th:text="#{error.login}"> </span>
                                            <span class="alert-content" th:text="#{error.invalidCredentials}"></span>
                                        </div>
                                        <div class="form-group position-relative">
                                            <label th:text="#{user.header.username}"></label><span
                                                class="text-danger"> *</span>
                                            <i class="mdi mdi-account ml-3 icons"></i>
                                            <input type="text" class="form-control pl-5" placeholder="Username"
                                                   name="username" required="">
                                        </div>
                                    </div>

                                    <div class="col-lg-12">
                                        <div class="form-group position-relative">
                                            <label th:text="#{user.header.password}"></label><span
                                                class="text-danger"> *</span>
                                            <i class="mdi mdi-key ml-3 icons"></i>
                                            <input type="password" name="password" class="form-control pl-5"
                                                   placeholder="Password" required="">
                                        </div>
                                    </div>

                                    <div class="col-lg-12">
                                        <p class="float-right forgot-pass"><span th:text="#{login.referralLinkText}"
                                                                              class="text-dark font-weight-bold"></span></p>
                                    </div>
                                    <div class="col-lg-12 mb-0">
                                        <button class="btn btn-primary w-100">Sign in</button>
                                    </div>
                                    <div class="col-12 text-center">
                                        <p class="mb-0 mt-3"><small class="text-dark mr-2"
                                                                    th:text="#{login.noAccountText}"></small> <a
                                                href="/registration" class="text-dark font-weight-bold"
                                                th:text="#{login.signUpLink}"> Up</a></p>
                                    </div>
                                </div>
                            </form>
                        </div><!---->
                    </div> <!--end col-->
                </div><!--end row-->
            </div> <!--end container-->
        </div>
    </div>
</section><!--end section-->
<!-- Hero End -->

<div th:replace="fragments/layout :: js-scripts"></div>
</body>
</html>